.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* sheared styles */
.display-flex{
    display: flex;
}
.text-praimary{
    color: #FF900E;
}
/* dark 02 */
.text-grey{
    color: #424242;
}
/* dark 03 */
.text-light-grey{
    color: #727272;
}

.section-title{
    max-width: 42%;
}
.section-title h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.section-title p{
    font-size: 1rem;
    margin: 16px 0 35px 0;
}

/* button style */
.btn-praimery{
    background-color: #FF900E;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
}
main{
    max-width: 1180px;
    margin: 0 auto;
}
main > section{
    margin-top: 100px;
}
/* header styles */
/* nav related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.navbar h2{
    font-weight: 700;
    font-size: 2.5rem;
}
.navbar ul{
    gap: 20px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{ 
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.navbar,.banner{
    max-width: 1180px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 750px;
    text-align: center;
    margin: 20px auto 50px auto;
}
.banner-content h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.banner-img img{
    width: 100%;
}
/* team and features related style */
.teams{
    align-items: center;
    gap: 40px;
}
.team-img-continer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.team-img-continer img{
    width: 100%;
}
.text-list{
    color: black;
}
/* Features you will enjoy */
.featured{
    align-items: center;
    gap: 30px;
}
.features-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    margin-bottom: 20px;
}
.feature-card h2{
    font-size: 1.59rem;
    font-weight: 600;
}
#experience-badge{
    padding: 44px;
    margin-left: -100px;
    margin-top: -120px;
}
.experience-year{
    font-size: 2.50rem;
    width: 700;
}

.feature-img img{
    width: 100%;
}



/* some facts related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 70px;
    margin-top: 20px;
}
.fact-card{
    border: 2px solid #FF900E;
    padding: 40px 0;
}
.fact-card h4{
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0;
}
.fact-card h5{
    font-size: 1.15rem;
    font-weight: 600;
}
/* Sponsors related style */
.sponsors-info{
    max-width: 540px;
    text-align: center;
    margin: 50px auto;
}
.sponsors-info h2{
    font-size: 2rem;
    font-weight: 600;
}
.sponsors-info p{
    margin: 10px 0;
    font-size: 1rem;
}
.sponsors-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: space-between;
    gap: 40px;
}
.sponsors-company img{
    filter: grayscale(100%);
}
/* footer related style  */
footer{
    text-align: center;
    margin-top: 80px;
    font-size: 1rem;
}