/* responsive media quary */
@media only screen and (max-width:576px) {
    .navbar,ul,.teams{
        flex-direction: column;
        text-align: center;
    }
    .team-img-continer,.facts-container,.sponsors-company{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        max-width: 90%;
    }
    .sponsors-company{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 39px;
    }
}
/* medioum size device */
@media only screen and (min-width:577px) and (max-width:992px) {
    .teams{
        flex-direction: column-reverse;
        text-align: center;
    }
    .team-img-continer,.facts-container{
        grid-template-columns: repeat(2,1fr);
    }
    .our-features{
        max-width: 90%;
    }
    .sponsors-company{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 39px;
    }
}